/* generali */
:root{
    --main-blue: #3B63DE;
    --main-red: #BD4825;
    --main-grey: #1f1f1f;
    --lightgrey: #BEBCBB;
    --footer-blue: #194296;
}
.pt-6{
    padding-top: 6rem;
}


.pt-20{
    padding-top: 20rem;
}

.p-relative{
    position: relative;
}

.rad_btn{
    border-radius: 1.2em;
}

.btn_bg:focus{
    box-shadow: none;
}

.fs-7{
    font-size: 0.8rem;
}








/* header */


header [src*="sony"]{
    height: 20px;
    padding: 2px;
    padding-right: .5rem;
}

.header-top{
    text-align: right;
    background-color: black;
}

/* nav section */

.dropdown-item:hover{
    background-color: white;
    box-shadow: 0 0 5px;
}

.dropdown-item:focus{
    background-color: white;
}

.nav-link{
    color: black;
}

.nav-link:hover{
    color: black;
}



/* banner section */

.banner-sec{
    background-image: url(../img/jumbo-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    margin-top: 6rem;
}

.banner-sec .btn_bg{
    background-color: var(--main-red);
    color: white;
    border-color: var(--main-red);
}

.banner-text{
    position: absolute;
    bottom: 0;
}

.banner-sec [src*="hero"]{
    width: 50%;
}

/* games section */

.games-sec img{
    width: 100%;
    border-radius: 1rem;
}

/*  section intro*/

.intro-ps5-sec h4{
    color: var(--main-blue)
}

/* section info */

.info-ps5-sec .btn_bg{
    background-color: var(--main-blue);
    border-color: var(--main-blue);
    color: white;
}

.info-ps5-sec img{
    width: 100%;
}

.info-ps5-sec [class*="-4"]{
    opacity: .7;
}

.info-ps5-sec .active{
    border-bottom: 2px solid var(--main-blue);
    opacity: 1;
}

/* second banner-sec */
.banner-sec-2{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
}

.banner-sec-2 img{
    width: 80%;
}

.banner-sec-2 .btn_bg{
    background-color: var(--main-red);
    color: white;
    border-color: var(--main-red);
}

/* games sec 2 */

.games-sec-2{
    background-color: var(--main-grey);
    color: white;
}

.games-sec-2 img{
    width: 100%;
    border-radius: 1rem;
}

/* section info ps4 */

.info-ps4-sec img{
    width: 100%;

}

.info-ps4-sec .btn_bg{
    background-color: var(--main-blue);
    color: white;
}

/* ps plus section */

.plus-section{
    background-color: var(--lightgrey);
}

.plus-section [src*="monthly"]{
    height: 350px;
    position: absolute;
    right: 3rem;
    top: 0;
}

.plus-section [src*="plus-logo"]{
    width: 100%;
}

.plus-section .btn_bg{
    background-color: #D9DADC;
    border-color: #D9DADC;
    color: var(--main-blue);
}

/* discount section */

.discount-sec img{
    width: 100%;
}

/* playstatio now section */

.ps-now-sec{
    background-color: #171C39;
    color: white;
}

.ps-now-sec [src*="now-logo"]{
    width: 100%;
}

.ps-now-sec [src*="now-april"]{
    position: absolute;
    right: 5rem;
    top: 0;
    height: 100%;
}

@media screen and (max-width: 992px){
    .ps-now-sec [src*="now-april"]{
        right: 0;
    } 
}

.ps-now-sec .btn_bg{
    background-color: #D9DADC;
    border-color: #D9DADC;
    color: black;
}

/* social section */

.social-sec img{
    width: 100%;
}

/* footers section */

footer{
    background-color: var(--footer-blue);
    color: white;   
}

footer li{
    list-style: none;
}

footer a{
    text-decoration: none;
    color: white;
}

footer a:hover{
    color:white;
    text-decoration: underline;
}

